<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/jobber/job-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Nov 2020 15:54:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Jobber - Job Board HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ERP - Tuyển dụng lập trình viên</title>

    <!-- Favicon -->
    <link href="~/images/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="~/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/datetimepicker/datetimepicker.min.css" />
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link href="~/assests/toastr/build/toastr.css" rel="stylesheet" />
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="~/css/apexcharts/apexcharts.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="~/css/style.css" />
    
</head>
<body ng-app="erp">



    @RenderBody();


    <!--=================================
    Signin Modal Popup -->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="~/js/select2/select2.full.js"></script>
    <script src="~/js/datetimepicker/moment.min.js"></script>
    <script src="~/js/datetimepicker/datetimepicker.min.js"></script>

    <script src="~/assests/angular/angular.min.js"></script>
    <script src="~/assests/libs/angular-sanitize.js"></script>
    <script src="~/assests/libs/dirPagination.js"></script>
    <script src="~/assests/toastr/build/toastr.min.js"></script>
    <!-- map -->
    <script src="~/js/apexcharts/apexcharts.min.js"></script>
    <!-- Template Scripts (Do not remove)-->
    <script src="~/js/custom.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/shared/ajaxService.js"></script>
    <script src="~/app/shared/genderFilter.js"></script>
    <script src="~/app/shared/typeFilter.js"></script>
    <script src="~/app/shared/notification.js"></script>
    <script src="~/app/controller/SkillController.js"></script>
    <script src="~/app/controller/jobdescriptionController.js"></script>
    <script src="~/app/controller/categoryController.js"></script>
    <script src="~/app/controller/cadidateController.js"></script>
    <script src="~/app/controller/searchController.js"></script>
    <script src="~/app/shared/statusFilter.js"></script>
    <script src="~/app/controller/jobdetailController.js"></script>
    <script src="~/app/controller/awardController.js"></script>
    <script src="~/app/controller/educationController.js"></script>
    <script src="~/app/controller/workhistoryController.js"></script>
    <script src="~/app/controller/applyController.js"></script>
    <script>
        var options = {
            chart: {
                height: 350,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            series: [{
                name: 'series1',
                data: [31, 40, 28, 51, 42, 109, 100]
            }, {
                name: 'series2',
                data: [11, 32, 45, 32, 34, 52, 41]
            }],
            colors: ['#ff8a00', '#001935'],

            xaxis: {
                type: 'datetime',
                categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00", "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00", "2018-09-19T06:30:00"],
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        }

        var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
        );

        chart.render();
    </script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/jobber/job-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Nov 2020 15:54:14 GMT -->
</html>
