<app-form (isShow)="isShowTable($event)"></app-form>
<div class="page-container" style="padding: 10px 20px;" [class.opened]="showTable()">
  <div class="row">
    <div class="panel panel-flat" style="margin-bottom:10px">
      <div class="panel-heading content-header" style="padding-top:10px; padding-bottom:10px">
        <div>
          <h4 class="panel-title" style="margin:0;"><i class="icon-users2 icon"></i>DANH SÁCH TIN TUYỂN DỤNG</h4>
        </div>
        <div class="options">
          <button mat-raised-button style="margin-right: 5px;" (click)="insertPlan()" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm kế hoạch tuyển dụng mới
          </button>
          <button mat-raised-button style="margin-right: 5px;" (click)="insertPlan()" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm kế hoạch tuyển dụng mới
          </button>
          <button mat-raised-button style="margin-right: 5px;" (click)="insertPlan()" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm kế hoạch tuyển dụng mới
          </button>
          <button mat-raised-button style="margin-right: 5px;" (click)="insertPlan()" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm kế hoạch tuyển dụng mới
          </button>
        </div>
      </div>
      <div class="panel-heading content-header" style="padding-top:0px; padding-bottom:10px;">
        <div class="row" style="width:100%; margin-left: 6px;">
          <div class="col-md-2" style="padding: 0;">
          </div>
          <div class="col-md-7">
            <i class="icon-search4 icon-s"></i>
            <input type="text" class="input-search" placeholder="Từ khóa tìm kiếm ứng với họ tên, số điện thoại, kỹ năng, vị trí ứng tuyển,...">
          </div>
          <button class="col-md-1 btn-s" mat-flat-button color="warn">
            Tìm kiếm
          </button>  
          <div class="col-md-2" style="padding: 0;">
          </div>        
        </div>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="container-fluid">
        <div class="table-responsive">
          <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell style="padding-top:6px;" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell style="padding-top:6px;" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="changeCheckBox($event,row)"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Tiêu đề</th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="skill">
              <th mat-header-cell *matHeaderCellDef>Kỹ năng</th>
              <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Mảng công việc</th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
            <ng-container matColumnDef="offerfrom">
              <th mat-header-cell *matHeaderCellDef>Mức lương tối thiểu</th>
              <td mat-cell *matCellDef="let element"> {{element.offerfrom}} </td>
            </ng-container>
            <ng-container matColumnDef="offerto">
              <th mat-header-cell *matHeaderCellDef>Mức lương tối đa</th>
              <td mat-cell *matCellDef="let element"> {{element.offerto}} </td>
            </ng-container>
          
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef style="width:1%;text-align: center;padding-right: 0px;line-height: 1px;">#</th>
              <td mat-cell *matCellDef="let element" style="padding-right: 0px;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="deleteCadidate()">
                    <mat-icon>delete</mat-icon>
                    <span>Xóa dữ liệu</span>
                  </button>
                  <button mat-menu-item (click)="updateCadidate()">
                    <mat-icon>edit</mat-icon>
                    <span>Cập nhật</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openDetail(row)"></tr>
          </table>
          <mat-paginator  [length]="100"
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 20, 100]"
                          showFirstLastButtons>
          </mat-paginator> -->    
        </div>  
      </div>
    </div>
  </div>
</div>