.mat-dialog-content{
  padding: 12px 12px 0px 12px;
  margin: 0px;
}
.form-input{
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 36px;
  border-radius: 4px;
  padding: 0px 12px;
}
.form-input::placeholder {
  color: #a1758b;
  font-weight: 300;
  font-size: 13px;
}
.lb-input{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 13px;
}
.list-color{
  display: flex;
  justify-content: space-between;
}
.box{
  width: 30px;
  height: 30px;
  border-radius:4px;
  cursor: pointer;
  position: relative;
}
.icon-tag-checked{
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 20px;
  display: none;
}
.active{
  display: block;
}