<div class="page-container" [class.opened]="showForm()">
  <div class="row">
    <div class="panel panel-flat" style="margin-bottom: 10px; padding: 10px 20px;display: flex;justify-content: space-between;">
      <div style="padding-top: 10px;width: 100%;">
        <h3 style="margin-bottom: 0px;">Thẻ phân loại</h3>
        <form [formGroup]="tagForm" (submit)="saveForm()">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Thẻ mới</label>
                    <input type="text" formControlName="name" class="form-input" placeholder="Nhập tên thẻ" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Ghi chú</label>
                    <input type="text" class="form-input" formControlName="content" placeholder="Nhập ghí chú" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" style="text-align: right; margin-bottom: 0px;">
                <a mat-button (click)="onBack()" >Đóng</a>
                <button type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Lưu lại</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>