
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="/Views/Component/_Header.cshtml" />

<partial name="/Views/Component/_User.cshtml" />


<partial name="/Views/Component/_Menu.cshtml" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title-02">
                    <h3>Hồ sơ cá nhân</h3>
                </div>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="btn btn-primary btn-md mb-4 mb-lg-0" target="_blank" href="/Candidate/Preview">Xem CV</a>
            </div>
            <div class="col-12">
                <partial name="/Views/Component/_Education.cshtml" />
                <!--=================================
                Work & Experience -->
                <partial name="/Views/Component/_Experience.cshtml" />
                <!--=================================
                Work & Experience -->
                <!--=================================            
                Awards -->
                <partial name="/Views/Component/_Awards.cshtml" />
                <!--=================================
                Awards -->
                <a class="btn btn-md btn-primary" href="#">Lưu hồ sơ</a>
            </div>
        </div>
    </div>
</section>


