@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="/Views/Component/_Header.cshtml" />

<partial name="/Views/Component/_User.cshtml" />

<partial name="/Views/Component/_Menu.cshtml" />

<section>
    <div class="container" ng-controller="cadidateController">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title-02">

                </div>
            </div>
            <div class="col-12">
                <partial name="/Views/Component/_Info.cshtml" />
                <partial name="/Views/Component/_Social.cshtml" />
                <a class="btn btn-md btn-primary" ng-click="postCandidate()" href="">Lưu hồ sơ</a>
            </div>
        </div>
    </div>
</section>