@using Microsoft.AspNetCore.Http;
@using MVC.Common;
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <button type="submit" class="btn btn-warning" onclick="download()">Tải xuống CV của bạn</button>
    <script>
        function download() {
            const elm = document.getElementById('pdf-cv');
            html2pdf().from(elm).save();
        }
    </script>
</section>
<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="row" id="pdf-cv">
                    <div class="col-lg-5">
                        <div class="resume-base bg-light user-dashboard-info-box">
                            @{ var session = Convert.ToString(Context.Session.GetString(CommonSession.USER_SESSION));
                                if (session == null)
                                {
                                }
                                else
                                {
                                    var user = JsonConvert.DeserializeObject<UserSession>(session);
                                    {
                                        <div class="profile">
                                            <div class="jobber-user-info">
                                                <div class="profile-avatar">
                                                    <img class="img-fluid " src="~/images/avatar/@user.FileName" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        <div class="about-candidate border-top" ng-controller="cadidateController">
                            <div class="candidate-info">
                                <h6>Họ và tên:</h6>
                                <p>{{cadidate.name}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Email:</h6>
                                <p>{{cadidate.email}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Số điện thoại:</h6>
                                <p>{{cadidate.phone}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Ngày sinh:</h6>
                                <p>{{cadidate.dob | date:"dd/MM/yyyy"}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Địa chỉ:</h6>
                                <p>{{cadidate.address}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Giới tính:</h6>
                                <p>{{cadidate.gender | genderFilter : cadidate.gender}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Facebook:</h6>
                                <p>{{cadidate.facebook}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Zalo:</h6>
                                <p>{{cadidate.zalo}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>LinkedIn:</h6>
                                <p>{{cadidate.linkedIn}}</p>
                            </div>
                            <div class="candidate-info">
                                <h6>Skype:</h6>
                                <p>{{cadidate.skype}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-7" style="padding-top:30px">
                        <div class="resume-experience pl-0">
                            <div class="timeline-box" ng-controller="educationController">
                                <h5 class="resume-experience-title">Trình độ học vấn:</h5>
                                <div class="jobber-candidate-timeline">
                                    <div class="jobber-timeline-item" ng-repeat="item in educations">
                                        <div class="jobber-timeline-cricle">
                                            <i class="far fa-circle"></i>
                                        </div>
                                        <div class="jobber-timeline-info">
                                            <div class="dashboard-timeline-info">
                                                <span class="jobber-timeline-time">{{item._From}} đến {{item._To}}</span>
                                                <h6 class="mb-2">{{item.title}}</h6>
                                                <span>- {{item.institute}}</span>
                                                <p class="mt-2">{{item.description}}.</p>
                                            </div>
                                        </div>
                                    </div>                
                                </div>
                            </div>
                            <div class="timeline-box mt-4" ng-controller="workhistoryController">
                                <h5 class="resume-experience-title">Kinh nghiệm làm việc:</h5>
                                <div class="jobber-candidate-timeline">
                                    <div class="jobber-timeline-item" ng-repeat="item in workhistories">
                                        <div class="jobber-timeline-cricle">
                                            <i class="far fa-circle"></i>
                                        </div>
                                        <div class="jobber-timeline-info">
                                            <div class="dashboard-timeline-info">
                                                <span class="jobber-timeline-time">{{item.timeStart | date:"dd/MM/yyyy"}} đến {{item.timeEnd | date:"dd/MM/yyyy"}}</span>
                                                <h6 class="mb-2">{{item.position}}</h6>
                                                <span>- {{item.company}}</span>
                                                <p class="mt-2">{{item.description}}.</p>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="timeline-box mt-4" ng-controller="awardController">
                                <h5 class="resume-experience-title">Dự án nổi bật:</h5>
                                <div class="jobber-candidate-timeline">
                                    <div class="jobber-timeline-item" ng-repeat="item in awards">
                                        <div class="jobber-timeline-cricle">
                                            <i class="far fa-circle"></i>
                                        </div>
                                        <div class="jobber-timeline-info">
                                            <div class="dashboard-timeline-info">
                                                <span class="jobber-timeline-time">{{item._From | date:"dd/MM/yyyy"}} đến {{item._To | date:"dd/MM/yyyy"}}</span>
                                                <h6 class="mb-2">{{item.title}}</h6>
                                                <span>- {{item.institute}}</span>
                                                <p class="mt-2">{{item.description}}.</p>
                                            </div>                                          
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="back-to-top" class="back-to-top">
    <i class="fas fa-angle-up"></i>
</div>

