<div class="page-container" style="padding: 0px 0px;">
  <div class="row">
    <button style="margin-right: 5px;" class="btn btn-success" (click)="continute()">
      Qua vòng
    </button>
    <div class="panel panel-flat">
      <div class="container-fluid">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="processname">
              <th mat-header-cell *matHeaderCellDef> Vòng </th>
              <td mat-cell *matCellDef="let row"> {{row.processname}} </td>
            </ng-container>
            <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef> Kết quả </th>
              <td mat-cell *matCellDef="let row">
                <div [ngSwitch]="row.result">
                  <ng-template [ngSwitchCase]=0><span style="cursor: pointer;" class="label bg-warning">( Chờ kết quả )</span></ng-template>
                  <ng-template [ngSwitchCase]=1><span style="cursor: pointer;" class="label bg-success">Thành công</span></ng-template>
                  <ng-template [ngSwitchCase]=2><span style="cursor: pointer;" class="label bg-danger">Thất bại</span></ng-template>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef style="width:1%;text-align: center;padding-right: 0px;line-height: 1px;">#</th>
              <td mat-cell *matCellDef="let element" style="padding-right: 0px;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="updateProcess(element.processId,element.applyId,element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Cập nhật</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>  
      </div>
    </div>
  </div>
</div>