<div class="page-container" style="padding: 10px 20px;" [class.opened]="showForm()">
  <div class="row">
    <form novalidate [formGroup]="recruitmentForm" (submit)="saveFormRecruit()">
      <div class="panel panel-flat">
        <div class="panel-body">
          <div style="margin-bottom:10px;border-bottom:1px solid #ddd;padding-bottom:10px">
            <span style="font-size:16px;"><i class="icon-reading position-left"></i> Thông tin tin tuyển dụng</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-8">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Tiêu đề tin tuyển dụng</label>
                    <input type="text" class="form-input" formControlName="title" placeholder="Nhập tiêu đề tin tuyển dụng" />
                  </div>
                  <div class="col-md-4">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Thời giờ</label>
                    <div style="width:100%;height:34px;line-height:34px;padding-top:2px">
                      <mat-radio-group formControlName="type">
                        <mat-radio-button [value]=0>Full Time</mat-radio-button>
                        <mat-radio-button style="margin-left:20px" [value]=1>Part Time</mat-radio-button>
                      </mat-radio-group>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Công nghệ yêu cầu</label>
                    <mat-select class="form-input" [ngModel]="selectedMulti" formControlName="skill" style="height: 36px; line-height: 36px;" multiple>
                      <mat-option [value]=0>None</mat-option>
                      <mat-option *ngFor="let option of listSkills" [value]=option.skillId>{{option.name}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-md-3">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Số lượng tuyển</label>
                    <input type="text" class="form-input" formControlName="quatity" placeholder="Số lượng cần tuyển" />
                  </div>
                  <div class="col-md-3">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Trạng thái</label>
                    <div style="width:100%;height:34px;line-height:34px;padding-top:2px">
                      <mat-radio-group formControlName="status">
                        <mat-radio-button [value]=0>Đăng</mat-radio-button>
                        <mat-radio-button style="margin-left:20px" [value]=1>Chờ</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="lb-input"><i class="icon-arrow-small-right"></i>Lợi ích khi tham gia</label>
                <ckeditor formControlName="benefit"></ckeditor>
              </div>
              <div class="form-group">
                <label class="lb-input"><i class="icon-arrow-small-right"></i>Mô tả công việc</label>
                <ckeditor formControlName="description"></ckeditor>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Thời gian bắt đầu</label>
                    <input matInput formControlName="timeStart" class="form-input form-date" placeholder="mm/DD/yyyy" [matDatepicker]="picker2">
                    <mat-datepicker-toggle class="icon-date" matSuffix [for]="picker2">
                      <mat-icon matDatepickerToggleIcon>today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  </div>
                  <div class="col-lg-6">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Thời gian kết thúc</label>
                    <input matInput formControlName="timeEnd" class="form-input form-date" placeholder="mm/DD/yyyy" [matDatepicker]="picker3">
                    <mat-datepicker-toggle class="icon-date" matSuffix [for]="picker3">
                      <mat-icon matDatepickerToggleIcon>today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3 color="primary"></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Mảng công việc</label>
                    <mat-select class="form-input" formControlName="categoryId" style="height: 36px; line-height: 36px;">
                      <mat-option [value]=0>None</mat-option>
                      <mat-option *ngFor="let option of listCategorys" [value]=option.categoryId>{{option.name}}</mat-option>
                    </mat-select>
                  </div>
                  <div class="col-lg-4">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Mức lương tối thiểu</label>
                    <input type="text" class="form-input" formControlName="offerFrom" placeholder="Mức lương tối thiểu" />
                  </div>
                  <div class="col-lg-4">
                    <label class="lb-input"><i class="icon-arrow-small-right"></i>Mức lương tối đa</label>
                    <input type="text" class="form-input" formControlName="offerTo" placeholder="Mức lương tối đa" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="lb-input"><i class="icon-arrow-small-right"></i>Yêu cầu công việc</label>
                <ckeditor formControlName="requestJob"></ckeditor>
              </div>
              <div class="form-group">
                <label class="lb-input"><i class="icon-arrow-small-right"></i>Lý do nên làm việc tại đây</label>
                <ckeditor formControlName="endow"></ckeditor>
              </div>
            </div>
          </div>
          <div style="display:flex;align-items:center;justify-content:space-between">
            <a mat-raised-button style="margin-right: 5px;" (click)="onBack()" class="btn-interview" color="primary">
              <i class="icon-arrow-left13"></i>Quay lại
            </a>
            <button type="submit" mat-raised-button style="margin-right: 5px;" class="btn-interview" color="primary">
              Lưu tin tuyển dụng<i class="icon-arrow-right14"></i>   
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>