<div class="page-container" style="padding: 10px 20px;">
  <div class="row">
    <div class="panel panel-flat">
      <div class="row">
        <div class="col-lg-5">
          <div class="page-container" style="padding: 10px 36px;">
            <div class="row" *ngFor="let item of items">
              <div style="display: flex;padding-top: 6px;">
                <div class="img" style="flex: 1;">           
                </div>
                <div class="info" style="flex: 5;">
                  <p>{{item.name}}</p>
                  <p>Ứng tuyển ngày {{item.applyDate|date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="option" style="flex: 2;">
                  <button type="button" (click)="insertDate(item.email,item.cadidateId,item.jobId)" class="btn btn-success"><i class="p-l-12 icon-calendar"></i>Đặt lịch</button>
                </div>
              </div>
              <h5 style="font-weight: 600;color: #aa88aa;">VỊ TRÍ ỨNG TUYỂN</h5>
              <div style="display:flex">
                <ul>
                  <style>
                    li{
                      margin-bottom: 12px;
                    }
                    .p-l-12{
                      padding-right: 18px;
                    }
                  </style>
                  <li style="list-style: none;" ><i class="p-l-12 icon-graduation2"></i>Vị trí ứng tuyển</li>
                </ul>
                <ul>
                  <style>
                    li{
                      margin-bottom: 16px;
                    }
                    .p-l-12{
                      padding-right: 18px;
                    }
                  </style>
                  <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.jobName}}</li>
                </ul>
              </div>
              <h5 style="font-weight: 600;color: #aa88aa;">THÔNG TIN CÁ NHÂN</h5>
                <div style="display:flex">
                  <ul>
                    <style>
                      li{
                        margin-bottom: 12px;
                      }
                      .p-l-12{
                        padding-right: 18px;
                      }
                    </style>
                    <li style="list-style: none;" ><i class="p-l-12 icon-phone2"></i>Số điện thoại</li>
                    <li style="list-style: none;" ><i class="p-l-12 icon-mail5"></i>Email</li>
                    <li style="list-style: none;" ><i class="p-l-12 icon-office"></i>Địa chỉ</li>
                    <li style="list-style: none;" ><i class="p-l-12 icon-calendar"></i>Ngày sinh</li>
                    <li style="list-style: none;" ><i class="p-l-12 icon-man-woman"></i>Giới tính</li>
                    <li style="list-style: none;" ><i class="p-l-12 icon-skype"></i>Skype</li>
                  </ul>
                  <ul>
                    <style>
                      li{
                        margin-bottom: 16px;
                      }
                      .p-l-12{
                        padding-right: 18px;
                      }
                    </style>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.phone}}</li>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.email}}</li>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.address}}</li>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.dob|date: 'dd/MM/yyyy'}}</li>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.gender}}</li>
                    <li style="list-style: none;" ><span class="p-l-12">:</span>{{item.skype}}</li>
                  </ul>
                </div>
              <h5 style="font-weight: 600;color: #aa88aa;">HỌC VẤN CÔNG VIỆC</h5>
              <div style="display:flex">
                <ul>
                  <style>
                    li{
                      margin-bottom: 12px;
                    }
                    .p-l-12{
                      padding-right: 18px;
                    }
                  </style>
                  <li style="list-style: none;" ><span class="p-l-12 icon-primitive-square">:</span>Trình độ</li>
                  <li style="list-style: none;" ><span class="p-l-12 icon-primitive-square">:</span>Nơi đào tạo</li>
                  <li style="list-style: none;" ><span class="p-l-12 icon-primitive-square">:</span>Chuyên ngành</li>
                </ul>
                <ul>
                  <style>
                    li{
                      margin-bottom: 16px;
                    }
                    .p-l-12{
                      padding-right: 18px;
                    }
                  </style>      
                  <li style="list-style: none;" ><i class="p-l-12"></i>{{item.degree}}</li>
                  <li style="list-style: none;" ><i class="p-l-12"></i>{{item.university}}</li>
                  <li style="list-style: none;" ><i class="p-l-12"></i>{{item.major}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" style="border-left:1px solid #f5f5f5;padding: 0px;">
          <div class="page-container" style="padding: 0px;padding-right: 10px;">
            <mat-tab-group>
              <mat-tab label="Hồ sơ ứng viên">
                <div class="page-container right" style="padding: 0px;">
                  <app-detail-cv></app-detail-cv>
                </div>
              </mat-tab>
              <mat-tab label="Lịch sử làm việc">
                <div class="page-container right"> 
                  <app-detail-apply-history></app-detail-apply-history>
                </div>
              </mat-tab>
              <mat-tab label="Email">
                <div class="page-container right">
                  <app-detail-email></app-detail-email>
                </div>
              </mat-tab>
              <mat-tab label="Kết quả phỏng vấn">
                <div class="page-container right">
                  <app-detail-interview-result></app-detail-interview-result>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>