<app-form (isShow)="changeStatus($event)"></app-form>
<div class="page-container" style="padding: 10px 20px;" [class.opened]="showTable()">
  <div class="row">
    <div class="panel panel-flat" style="margin-bottom:10px">
      <div class="panel-heading content-header" style="padding-top:10px; padding-bottom:10px">
        <div>
          <h4 class="panel-title" style="margin:0;"><i class="icon-users2 icon"></i>DANH SÁCH TIN TUYỂN DỤNG</h4>
        </div>
        <div class="options">
          <button mat-raised-button style="margin-right: 5px;" (click)="OnInsertClick()" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm tin tuyển dụng mới
          </button>
        </div>
      </div>
      <div class="panel-heading content-header" style="padding-top:0px; padding-bottom:10px;">
        <div class="row" style="width:100%; margin-left: 6px;">
          <div class="col-md-2" style="padding: 0;">
          </div>
          <div class="col-md-7">
            <i class="icon-search4 icon-s"></i>
            <input type="text" class="input-search" placeholder="Từ khóa tìm kiếm ứng với họ tên, số điện thoại, kỹ năng, vị trí ứng tuyển,...">
          </div>
          <button class="col-md-1 btn-s" mat-flat-button color="warn">
            Tìm kiếm
          </button>  
          <div class="col-md-2" style="padding: 0;">
          </div>        
        </div>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="container-fluid">
        <div class="table-responsive">
        </div>  
      </div>
    </div>
  </div>
</div>