<div class="page-container" style="padding: 10px 20px;">
  <div class="row">
    <div class="panel panel-flat" style="margin-bottom:10px">
      <div class="panel-heading content-header" style="padding-top:10px; padding-bottom:10px">
        <div>
          <h4 class="panel-title" style="margin:0;"><i class="icon-users2 icon"></i>DANH SÁCH ỨNG VIÊN</h4>
        </div>
        <div class="options">
          <ng-container>
            <button mat-raised-button (click)="sendMail()" style="margin-right: 5px;" class="btn-interview" color="primary">
              <i class="icon-envelop5 icon"></i>Gửi email
            </button>
            <button mat-raised-button (click)="addTag()" style="margin-right: 5px;" class="btn-interview" color="primary">
              <i class="icon-price-tag2 icon"></i>Gắn thẻ
            </button>
            <button mat-raised-button style="margin-right: 5px;" class="btn-interview" color="primary">
              <i class="icon-bin icon"></i>Xóa ứng viên
            </button>
          </ng-container>
          <button mat-raised-button (click)="openChart()" style="margin-right: 5px;" class="btn-interview" color="primary">
            <i class="icon-pie-chart2 icon"></i>Biểu đồ ứng viên
          </button>
          <button mat-raised-button (click)="insertCadidate()" style="margin-right: 5px;" class="btn-interview" color="primary">
            <i class="icon-user-plus icon"></i>Thêm ứng viên mới
          </button>        
          <button mat-raised-button style="margin-right: 5px;" class="btn-interview" color="primary">
            <i class="icon-folder-download2 icon"></i>In danh sách
          </button>
          <button mat-raised-button class="btn-interview" color="primary">
            <i class="icon-plus2 icon"></i>Upload thông minh
          </button>
        </div>
      </div>
      <div class="panel-heading content-header" style="padding-top:0px; padding-bottom:10px;">
        <div class="row" style="width:100%; margin-left: 6px;">
          <div class="col-md-2" style="padding: 0;">
          </div>
          <div class="col-md-7">
            <i class="icon-search4 icon-s"></i>
            <input type="text" class="input-search" placeholder="Từ khóa tìm kiếm ứng với họ tên, số điện thoại, kỹ năng, vị trí ứng tuyển,...">
          </div>
          <button class="col-md-1 btn-s" mat-flat-button color="warn">
            Tìm kiếm
          </button>  
          <div class="col-md-2" style="padding: 0;">
          </div>        
        </div>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="container-fluid">
        <div class="table-responsive">
          <app-table></app-table>
        </div>  
      </div>
    </div>
  </div>
</div>