
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="/Views/Component/_Bradcam.cshtml" />
<partial name="/Views/Component/_Category.cshtml" />
<div class="job_listing_area plus_padding" ng-controller="jobdescriptionController">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <h3>Lọc chi tiết</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Mảng công việc">Mảng công việc</option>
                                            <option value="1">Category 1</option>
                                            <option value="2">Category 2 </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Kinh nghiệm">Kinh nghiệm</option>
                                            <option value="1">Experience 1</option>
                                            <option value="2">Experience 2 </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Loại hình">Loại hình</option>
                                            <option value="1">full time 1</option>
                                            <option value="2">part time 2 </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="range_wrap">
                        <label for="amount">Mức lương:</label>
                        <div id="slider-range"></div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
                        </p>
                    </div>
                    <div class="reset_btn">
                        <button class="boxed-btn3 w-100" type="submit">Làm mới</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>205 việc làm</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="serch_cat d-flex justify-content-end">
                                    <select>
                                        <option data-display="Most Recent">Most Recent</option>
                                        <option value="1">Marketer</option>
                                        <option value="2">Wordpress </option>
                                        <option value="4">Designer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" ng-repeat="item in listPagingJob">
                            <div class="single_jobs white-bg d-flex justify-content-between" style="padding:15px 25px 5px 25px">
                                <div class="row" style="width:100%">
                                    <div class="col-md-9 col-lg-9">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb" style="margin-right:48px;margin-left:26px;margin-bottom:12px">
                                                <img src="~/img/svg_icon/1.svg" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <a href="job_details.html"><h5>{{item.title}}</h5></a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p style="color:red"> <i class="fa fa-map-marker"></i>{{item.offerFrom}}$ đến {{item.offerTo}}$</p>
                                                    </div>
                                                    <div class="location">
                                                        <p style="color:black"> <i class="fa fa-clock-o"></i>{{item.type}}</p>
                                                    </div>
                                                </div>
                                                <p style="margin-bottom:8px">
                                                    {{item.description}}
                                                </p>
                                                <ul style="display:flex;margin-bottom:5px">
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">ASP.NET</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">PHP</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">Angular</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">React</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">Java</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">Vue</a></li>
                                                    <li style="margin:5px"><a class="badge badge-secondary" style="font-size:13px;font-weight:400;padding:8px" href="#">C++</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="jobs_right" style="padding-left:10px;margin-top:40px;margin-left:40px">
                                            <div class="apply_now">
                                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                                <a href="job_details.html" class="boxed-btn3">Apply Now</a>
                                            </div>
                                            <div class="date" style="text-align:left">
                                                <p style="color:blue">Thời hạn: {{item.timeEnd|dateFilter:item.timeEnd}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                    <li><a href="#"><span>01</span></a></li>
                                    <li><a href="#"><span>02</span></a></li>
                                    <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
