
@{
    ViewData["Title"] = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="space-ptb">
    <div class="container" ng-controller="jobdescriptionController">
        <div class="row">
            <div class="col-md-12">
                <!--=================================
                right-sidebar -->
                <div class="row mb-4">
                    <div class="col-12">
                        <h6 class="mb-0">Hiển thị 1-{{pageCount}} của <span class="text-primary">{{totalRecords}} Công việc</span></h6>
                    </div>
                </div>
                <div class="job-filter mb-4 d-sm-flex align-items-center">
                    <div class="job-shortby ml-sm-auto d-flex align-items-center">
                        <div class="filter-btn ml-sm-3 ml-auto">
                            <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapsefilter" role="button" aria-expanded="false" aria-controls="collapsefilter"><i class="fa fa-filter"></i>Tìm kiếm nâng cao </a>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapsefilter">
                    <div class="row  mb-4">
                        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                            <h6 class="mb-3">Mảng công việc</h6>
                            <div class="widget-content">
                                <div class="row" ng-controller="categoryController">
                                    <div class="col-lg-6" ng-repeat="item in listCategory">
                                        <div class="custom-control">
                                            <a href="/JobDescription/Items?categoryId={{item.categoryId}}">{{item.name}}</a>
                                        </div>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                            <h6 class="mb-3">Công nghệ sử dụng</h6>
                            <div class="widget-content">
                                <div class="row" ng-controller="skillController">
                                    <div class="col-lg-3" ng-repeat="item in listSkill">
                                        <div class="custom-control">
                                            <a href="/JobDescription/Items?keyword={{item.skillId}}">{{item.name}}</a>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-4 mb-sm-0">
                            <h6 class="mb-3">Xem thêm</h6>
                            <div class="widget">
                                <div class="widget-content">
                                    <div class="custom-control">
                                        <a href="/JobDescription/Items">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4" dir-paginate="item in listPagingJob|itemsPerPage:pageSize" total-items="totalRecords">
                        <div class="job-list job-grid">
                            <div class="job-list-logo">
                                <img class="img-fluid" src="~/images/svg/03.svg" alt="">
                            </div>
                            <div class="job-list-details">
                                <div class="job-list-info">
                                    <div class="job-list-title">
                                        <h5 class="mb-0"><a href="/JobDescription/Item?id={{item.jobId}}">{{item.title}}</a></h5>
                                    </div>
                                    <div class="job-list-option">
                                        <ul class="list-unstyled">
                                            <li style="margin-right:15px"><span>Số lượng </span> <a style="padding:0px;font-size:13px;font-weight:400"  href="">{{item.quatity}} Lập trình viên</a> </li>
                                            <li>
                                                <div class="d-flex">
                                                    <i class="font-xll text-primary align-self-center flaticon-debit-card"></i>
                                                    <div class="feature-info-content pl-3">
                                                        <label class="mb-1">Mức lương</label>
                                                        <span class="mb-0 font-weight-bold d-block text-dark">£{{item.offerFrom}} - £{{item.offerTo}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a class="freelance" style="line-height:46px;padding-left:18px" href="#"><i class="fas fa-suitcase pr-1"></i>{{item.type|typeFilter}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" style="padding:0px" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>1M ago</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <style>
                            a {
                                padding: 0px 20px;
                            }
                        </style>
                        <div>
                            <dir-pagination-controls max-size="pageSize" direction-links="true" boundary-links="true"
                                                     on-page-change="getPaging(newPageNumber)">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
