
@{
    ViewData["Title"] = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="/Views/Component/_Bradcam.cshtml" />
<partial name="/Views/Component/_Category.cshtml" />
<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <partial name="/Views/Component/_Filter.cshtml" />
            <div class="col-lg-9" ng-controller="jobdescriptionController">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>{{totalRecords}} việc làm</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="serch_cat d-flex justify-content-end">
                                    <select>
                                        <option data-display="Most Recent">Most Recent</option>
                                        <option value="1">Marketer</option>
                                        <option value="2">Wordpress </option>
                                        <option value="4">Designer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" ng-repeat="item in listPagingJob">
                            <div class="single_jobs white-bg d-flex justify-content-between" style="padding:15px 25px 5px 25px">
                                <div class="row" style="width:100%">
                                    <div class="col-md-9 col-lg-9">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb" style="height:135px;width:160px;margin-bottom:12px">
                                                <img src="~/img/hunting job.png" style="width:100%" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <a href="/JobDescription/Item/{{item.jobId}}"><h5 style="font-size:26px;font-weight:400;color:black">{{item.title}}</h5></a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p style="color:red;font-size:15px"> <i class="fa fa-money"></i>{{item.offerFrom}} - {{item.offerTo}}$</p>
                                                    </div>
                                                    <div class="location">
                                                        <p style="color:black;font-size:14px"> <i class="fa fa-clock-o"></i>{{item.type|typeFilter:item.type}}</p>
                                                    </div>
                                                </div>
                                                <p style="margin-bottom:8px;color:black;font-size:14px;padding-left:40px;font-weight:500" ng-bind-html="item.endow"></p>
                                                <p style="
                                                    color: #808080;
                                                    list-style: none;
                                                    width: 500px;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    line-height: 20px;
                                                    -webkit-line-clamp: 3;
                                                    height: 60px;
                                                    display: -webkit-box;
                                                    -webkit-box-orient: vertical;
                                                    " ng-bind-html="item.description"></p>
                                                <ul style="display:flex;margin-bottom:5px">
                                                    <li style="list-style:none"><a class="btn btn-outline-success" style="width:74px;font-size:13px;height:30px" href="#">ASP.NET</a></li>
                                                    <li style="list-style:none"><a class="btn btn-outline-success" style="width:74px;font-size:13px;height:30px" href="#">PHP</a></li>
                                                    <li style="list-style:none"><a class="btn btn-outline-success" style="width:74px;font-size:13px;height:30px" href="#">Angular</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="jobs_right" style="padding-left:10px;margin-top:40px;margin-left:40px">
                                            <div class="apply_now">
                                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                                <a href="job_details.html" class="boxed-btn3">Ứng tuyển</a>
                                            </div>
                                            <div class="date" style="text-align:left">
                                                <p style="color:black">Thời hạn: {{item.timeEnd|dateFilter:item.timeEnd}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                    <li><a href="#"><span>01</span></a></li>
                                    <li><a href="#"><span>02</span></a></li>
                                    <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
