@using Microsoft.AspNetCore.Http;
@using MVC.Common;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="/Views/Component/_Header.cshtml" />

<partial name="/Views/Component/_Search.cshtml" />
<section class="space-ptb" style="margin-bottom:36px" ng-controller="jobdetailController">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="job-list border">
                            <div class=" job-list-logo">
                                <img class="img-fluid" src="~/images/svg/03.svg" alt="">
                            </div>
                            <div class="job-list-details">
                                <div class="job-list-info">
                                    <div class="job-list-title">
                                        <h5 class="mb-0">{{jobdetail.title}}</h5>
                                    </div>
                                    <div class="job-list-option">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-map-marker-alt pr-1"></i>Hà Nội, VN</li>
                                            <li><i class="fas fa-phone fa-flip-horizontal fa-fw"></i><span class="pl-2">(+84) 91-3849-547</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="job-list-favourite-time">
                                <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
                                <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>2W ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border p-4 mt-4 mt-lg-5">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-debit-card"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Mức lương</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">£{{jobdetail.offerFrom}} - £{{jobdetail.offerTo}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-love"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Thời gian</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">{{jobdetail.type|typeFilter}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-bar-chart"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Số lượng</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">{{jobdetail.quatity}} người</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-md-0 mb-4">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-apartment"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Vị trí</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">{{jobdetail.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-sm-0 mb-4">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-medal"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Công nghệ</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">{{jobdetail.skillId}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="d-flex">
                                <i class="font-xll text-primary align-self-center flaticon-mortarboard"></i>
                                <div class="feature-info-content pl-3">
                                    <label class="mb-1">Trạng thái</label>
                                    <span class="mb-0 font-weight-bold d-block text-dark">{{jobdetail.status|statusFilter}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4 my-lg-5">
                    <h5 class="mb-3 mb-md-4">Mô tả công việc</h5>
                    <p ng-bind-html="jobdetail.description">.</p>
                </div>
                <hr>
                <div class="my-4 my-lg-5">
                    <h5 class="mb-3 mb-md-4">Yêu cầu công việc</h5>
                    <p ng-bind-html="jobdetail.requestJob">.</p>
                </div>
                <hr>
                <div class="mt-4 mt-lg-5">
                    <h5 class="mb-3 mb-md-4">Lợi ích khi thảm gia công ty</h5>
                    <p ng-bind-html="jobdetail.benefit">.</p>
                </div>
            </div>
            <!--=================================
            sidebar -->
            <div class="col-lg-4">
                <div class="sidebar mb-0">
                    <div class="widget">
                        @{ var session = Convert.ToString(Context.Session.GetString(CommonSession.USER_SESSION));
                            if (session == null)
                            {
                                <a class="btn btn-primary btn-block" style="color:white" data-toggle="{{modal}}" data-target="{{data_target}}" ng-click="apply(jobdetail.jobId)"><i class="far fa-paper-plane"></i>Ứng tuyển ngay</a>
                            }
                            else
                            {
                                var user = JsonConvert.DeserializeObject<UserSession>(session);
                                {
                                    if (user.JobId == 0)
                                    {
                                        <a class="btn btn-primary btn-block" style="color:white" data-toggle="{{modal}}" data-target="{{data_target}}" ng-click="apply(jobdetail.jobId)"><i class="far fa-paper-plane"></i>Ứng tuyển ngay</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-block" style="color:white"><i class="far fa-paper-plane"></i>Không thể ứng tuyển</a>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="widget">
                        <div class="widget-title">
                            <h5>Công việc tương tự</h5>
                        </div>
                        <div class="similar-jobs-item widget-box">
                            <div class="job-list" ng-repeat="item in jobsimilar">
                                <div class="job-list-logo">
                                    <img class="img-fluid" src="~/images/svg/03.svg" alt="">
                                </div>
                                <div class="job-list-details">
                                    <div class="job-list-info">
                                        <div class="job-list-title">
                                            <h6><a href="/JobDescription/Item?id={{item.jobId}}">{{item.title}}</a></h6>
                                        </div>
                                        <div class="job-list-option">
                                            <ul class="list-unstyled">
                                                <li style="margin-right:15px"><span>Số lượng </span> <a style="padding:0px;font-size:13px;font-weight:400" href="">{{item.quatity}} Lập trình viên</a> </li>
                                                <li><a class="freelance" style="line-height:46px;padding-left:18px" href="#"><i class="fas fa-suitcase pr-1"></i>{{item.type|typeFilter}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=================================
            sidebar -->
        </div>
    </div>
</section>

<partial name="/Views/Component/_Footer.cshtml" />

<div id="back-to-top" class="back-to-top">
    <i class="fas fa-angle-up"></i>
</div>

<partial name="/Views/Component/_Modal.cshtml" />
<partial name="/Views/Component/_Form.cshtml" />