<div class="navbar navbar-inverse bg-indigo">
  <div class="navbar-header" style="padding-right:39%">
    <a class="navbar-brand" ui-sref="home" style="display:flex;justify-content:center;align-items:center;padding:0px;padding-left:24px;">
      <img src="assets/images/download.png" style="width:38px;height:38px;" />
      <span style="padding-left:6px;color:white">ĐẠI HỌC SƯ PHẠM KỸ THUẬT HƯNG YÊN - KHOA CÔNG NGHỆ THÔNG TIN</span>
    </a>

    <ul class="nav navbar-nav pull-right visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <button mat-button class="mat-btn" [matMenuTriggerFor]="language">
      <img src="assets/images/vn.png" class="position-left" alt="">
      <span style="font-size: 13px; font-weight: 400;">Việt Nam</span>
      <span class="caret"></span>
    </button>
    <mat-menu #language="matMenu">
      <button mat-menu-item><img src="assets/images/vn.png" alt=""> Việt Nam</button>
      <button mat-menu-item><img src="assets/images/gb.png" alt=""> English</button>
    </mat-menu>
    <button mat-button class="mat-btn padding-reight-0" [matMenuTriggerFor]="menu">
      <img src="assets/images/admin.png" width="30" alt="">
      <span style="font-size: 13px; font-weight: 400;">Vũ Chung Dũng</span>
      <i class="caret"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><i class="icon-user-plus"></i> Thông tin</button>
      <button mat-menu-item><i class="icon-cog5"></i> Đổi mật khẩu</button>
      <button mat-menu-item><i class="icon-switch2"></i> Đăng xuất</button>
    </mat-menu>
  </div>
</div>