<app-form (isReLoadTable)="isReload($event)"></app-form>
<div class="page-container" style="padding-top: 0px;">
  <div class="row">
    <div class="panel panel-flat" style="margin-bottom: 10px; padding: 10px 20px;display: flex;justify-content: space-between;">
      <div>
        <h3 style="margin-bottom:4px"><i style="padding-right: 4px;" class="icon-price-tags"></i>Công nghệ sử dụng</h3>
        <small>Danh sách các công nghệ công ty sử dụng.</small>
      </div>
      <div>
        <button mat-raised-button (click)="openInsertForm()" style="height: 33px;margin-top: 18px;font-size: 13px;" color="primary">
          <i class="icon-database-add" style="padding-right: 8px;"></i>Thêm mới
        </button>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="container-fluid">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" style="width:100%;margin-bottom: 8px;">
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="font-weight: 600;font-size: 14px; color: black;width: 90%;"><span style="font-weight: 500;">Công nghệ</span> </th>
              <td mat-cell *matCellDef="let element"> <span class="label bg-primary">{{element.name}}</span> </td>
            </ng-container>
          
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef style="font-weight: 600;font-size: 14px; color: black;width: 10%;"> <span style="font-weight: 500;">Nghiệp vụ</span> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="openUpdateForm(element.skillId)" style="color:green; padding-right: 40px;cursor: pointer;">create</mat-icon>
                <mat-icon style="color: red;cursor: pointer;">delete</mat-icon>
              </td>
            </ng-container>  

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <app-paginator [paging]="paging" (pageEventChange)="onPageChange($event)">
          </app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>