<div class="user-dashboard-info-box">
    <div class="dashboard-resume-title d-flex align-items-center">
        <div class="section-title-02 mb-sm-0">
            <h4 class="mb-0">Dự án nổi bật</h4>
        </div>
        <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted-15" role="button" aria-expanded="false" aria-controls="dateposted">Thêm thông tin</a>
    </div>
    <div class="collapse show" id="dateposted-15">
        <div class="bg-light p-3 mt-4">
            <form class="form-row" ng-submit="create()">
                <div class="form-group col-md-12">
                    <label>Tiêu đề</label>
                    <input type="text" ng-model="award.Title" class="form-control" value="">
                </div>
                <div class="form-group col-md-3 select-border">
                    <label>Từ</label>
                    <div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" ng-model="award._From" value="08/11/1999" data-target="#datetimepicker-03">
                        <div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 select-border">
                    <label>Đến</label>
                    <div class="input-group date" id="datetimepicker-04" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" ng-model="award._To" value="08/11/1999" data-target="#datetimepicker-04">
                        <div class="input-group-append" data-target="#datetimepicker-04" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Địa điểm</label>
                    <input type="text" ng-model="award.Institute" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                    <label>Mô tả</label>
                    <textarea ng-model="award.Description" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group col-md-12 mb-0">
                    <button type="submit" class="btn btn-md btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>
    <div class="jobber-candidate-timeline mt-4">
        <div class="jobber-timeline-icon">
            <i class="fas fa-trophy"></i>
        </div>
        <div class="jobber-timeline-item">
            <div class="jobber-timeline-cricle">
                <i class="far fa-circle"></i>
            </div>
            <div class="jobber-timeline-info">
                <div class="dashboard-timeline-info">
                    <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" href="#dateposted-16" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                    </div>
                    <span class="jobber-timeline-time">2008 - 2012</span>
                    <h6 class="mb-2">Perfect Attendance Programs</h6>
                    <span>- Engineering High School</span>
                    <p class="mt-2">Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?</p>
                </div>
                <div class="collapse" id="dateposted-16">
                    <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-form-07">
                            <div class="form-group col-md-12">
                                <label>Title</label>
                                <input type="text" class="form-control" value="Perfect Attendance Programs">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Institute</label>
                                <input type="text" class="form-control" value="Engineering High School">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>From</label>
                                <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                                    <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Two</label>
                                <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                                    <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                <textarea class="form-control" rows="4" placeholder="Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?"></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <a class="btn btn-md btn-primary" href="#">Update</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>