<div class="catagory_area">
    <div class="container">
        <div class="row cat_search">
            <div class="col-lg-9 col-md-12">
                <div class="single_input">
                    <input type="text" ng-model="keyword" placeholder="Công việc tìm kiếm">
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="job_btn">
                    <a href="/JobDescription/Items?keyword={{keyword}}" class="boxed-btn3">Tìm kiếm</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" ng-controller="skillController">
                <div class="popular_search d-flex align-items-center">
                    <span>Công nghệ:</span>
                    <ul ng-repeat="item in listSkill">
                        <li><a href="/JobDescription/Items?keyword={{item.skillId}}">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>