<div class="user-dashboard-info-box" ng-controller="educationController">
    <div class="dashboard-resume-title d-flex align-items-center">
        <div class="section-title-02 mb-sm-0">
            <h4 class="mb-0">Trình độ học vấn</h4>
        </div>
        <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted" role="button" aria-expanded="false" aria-controls="dateposted">Thêm thông tin</a>
    </div>
    <div class="collapse show" id="dateposted">
        <div class="bg-light p-3 mt-4">
            <form class="form-row" ng-submit="create()">
                <div class="form-group col-md-12">
                    <label>Trình độ</label>
                    <input type="text" class="form-control" ng-model="education.Title" value="">
                </div>
                <div class="form-group col-md-3 select-border">
                    <label>Từ năm</label>
                    <select ng-model="education._From" class="form-control basic-select">
                        <option value=2020 selected="selected">2020</option>
                        <option value=2008>2008</option>
                        <option value=2009>2009</option>
                        <option value=2010>2010</option>
                        <option value=2011>2011</option>
                        <option value=2012>2012</option>
                        <option value=2013>2013</option>
                        <option value=2014>2014</option>
                        <option value=2015>2015</option>
                        <option value=2016>2016</option>
                        <option value=2017>2017</option>
                        <option value=2018>2018</option>
                        <option value=2019>2019</option>
                        <option value=2020>2020</option>
                        <option value=2021>2021</option>
                        <option value=2022>2022</option>
                        <option value=2023>2023</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                        <option value=2027>2027</option>
                        <option value=2028>2028</option>
                        <option value=2029>2029</option>
                        <option value=2030>2030</option>
                    </select>
                </div>
                <div class="form-group col-md-3 select-border">
                    <label>Đến năm</label>
                    <select ng-model="education._To" class="form-control basic-select">
                        <option value=2020 selected="selected">2020</option>
                        <option value=2008>2008</option>
                        <option value=2009>2009</option>
                        <option value=2010>2010</option>
                        <option value=2011>2011</option>
                        <option value=2012>2012</option>
                        <option value=2013>2013</option>
                        <option value=2014>2014</option>
                        <option value=2015>2015</option>
                        <option value=2016>2016</option>
                        <option value=2017>2017</option>
                        <option value=2018>2018</option>
                        <option value=2019>2019</option>
                        <option value=2020>2020</option>
                        <option value=2021>2021</option>
                        <option value=2022>2022</option>
                        <option value=2023>2023</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                        <option value=2027>2027</option>
                        <option value=2028>2028</option>
                        <option value=2029>2029</option>
                        <option value=2030>2030</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Nơi đào tạo</label>
                    <input ng-model="education.Institute" type="text" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                    <label>Mô tả thêm</label>
                    <textarea ng-model="education.Description" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group col-md-12 mb-0">
                    <button type="submit" class="btn btn-md btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>
    <div class="jobber-candidate-timeline mt-4">
        <div class="jobber-timeline-icon">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="jobber-timeline-item" ng-repeat="item in educations">
            <div class="jobber-timeline-cricle">
                <i class="far fa-circle"></i>
            </div>
            <div class="jobber-timeline-info">
                <div class="dashboard-timeline-info">
                    <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" ng-click="getId(item.id)" href="#dateposted-{{item.id}}" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="" ng-click="delete(item.id)"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                    </div>
                    <span class="jobber-timeline-time">{{item._From}} đến {{item._To}}</span>
                    <h6 class="mb-2">{{item.title}}</h6>
                    <span>- {{item.institute}}</span>
                    <p class="mt-2">{{item.description}}.</p>
                </div>
                <div class="collapse" id="dateposted-{{item.id}}">
                    <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted">
                            <div class="form-group col-md-12">
                                <label>Trình độ</label>
                                <input type="text" class="form-control" ng-model="e.title" value="">
                            </div>
                            <div class="form-group col-md-3 select-border">
                                <label>Từ năm</label>
                                <select class="form-control basic-select" ng-model="e._From">
                                    <option value=2020 selected="selected">2020</option>
                                    <option value=2008>2008</option>
                                    <option value=2009>2009</option>
                                    <option value=2010>2010</option>
                                    <option value=2011>2011</option>
                                    <option value=2012>2012</option>
                                    <option value=2013>2013</option>
                                    <option value=2014>2014</option>
                                    <option value=2015>2015</option>
                                    <option value=2016>2016</option>
                                    <option value=2017>2017</option>
                                    <option value=2018>2018</option>
                                    <option value=2019>2019</option>
                                    <option value=2020>2020</option>
                                    <option value=2021>2021</option>
                                    <option value=2022>2022</option>
                                    <option value=2023>2023</option>
                                    <option value=2024>2024</option>
                                    <option value=2025>2025</option>
                                    <option value=2026>2026</option>
                                    <option value=2027>2027</option>
                                    <option value=2028>2028</option>
                                    <option value=2029>2029</option>
                                    <option value=2030>2030</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 select-border">
                                <label>Đến năm</label>
                                <select ng-model="e._To" class="form-control basic-select">
                                    <option value=2020 selected="selected">2020</option>
                                    <option value=2008>2008</option>
                                    <option value=2009>2009</option>
                                    <option value=2010>2010</option>
                                    <option value=2011>2011</option>
                                    <option value=2012>2012</option>
                                    <option value=2013>2013</option>
                                    <option value=2014>2014</option>
                                    <option value=2015>2015</option>
                                    <option value=2016>2016</option>
                                    <option value=2017>2017</option>
                                    <option value=2018>2018</option>
                                    <option value=2019>2019</option>
                                    <option value=2020>2020</option>
                                    <option value=2021>2021</option>
                                    <option value=2022>2022</option>
                                    <option value=2023>2023</option>
                                    <option value=2024>2024</option>
                                    <option value=2025>2025</option>
                                    <option value=2026>2026</option>
                                    <option value=2027>2027</option>
                                    <option value=2028>2028</option>
                                    <option value=2029>2029</option>
                                    <option value=2030>2030</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nơi đào tạo</label>
                                <input type="text" class="form-control" ng-model="e.institute" value="">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Mô tả</label>
                                <textarea class="form-control" ng-model="e.description" rows="4"></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <a class="btn btn-md btn-primary" ng-click="update()">Cập nhật</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>