<div class="user-dashboard-info-box">
    <div class="dashboard-resume-title d-flex align-items-center">
        <div class="section-title-02 mb-sm-0">
            <h4 class="mb-0">Work & Experience</h4>
        </div>
        <a class="btn btn-md ml-sm-auto btn-primary" data-toggle="collapse" href="#dateposted-05" role="button" aria-expanded="false" aria-controls="dateposted">Add Experience</a>
    </div>
    <div class="collapse show" id="dateposted-05">
        <div class="bg-light p-3 mt-4">
            <form class="form-row">
                <div class="form-group col-md-12">
                    <label>Title</label>
                    <input type="text" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                    <label>Company name</label>
                    <input type="text" class="form-control" value="">
                </div>
                <div class="form-group col-md-6 select-border">
                    <label>From</label>
                    <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-01">
                        <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 select-border">
                    <label>Two</label>
                    <div class="input-group date" id="datetimepicker-02" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-02">
                        <div class="input-group-append" data-target="#datetimepicker-02" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>Description</label>
                    <textarea class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group col-md-12 mb-0">
                    <a class="btn btn-md btn-primary" href="#">Add</a>
                </div>
            </form>
        </div>
    </div>
    <div class="jobber-candidate-timeline mt-4">
        <div class="jobber-timeline-icon">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="jobber-timeline-item">
            <div class="jobber-timeline-cricle">
                <i class="far fa-circle"></i>
            </div>
            <div class="jobber-timeline-info">
                <div class="dashboard-timeline-info">
                    <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" href="#dateposted-06" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                    </div>
                    <span class="jobber-timeline-time">2020-6-01 to 2020-6-01</span>
                    <h6 class="mb-2">Web Designer</h6>
                    <span>- Inwave Studio</span>
                    <p class="mt-2">One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help them to accomplish their desires.</p>
                </div>
                <div class="collapse show" id="dateposted-06">
                    <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-form-01">
                            <div class="form-group col-md-12">
                                <label>Title</label>
                                <input type="text" class="form-control" value="Web Designer">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Company name</label>
                                <input type="text" class="form-control" value="Inwave Studio">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>From</label>
                                <div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-03">
                                    <div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Two</label>
                                <div class="input-group date" id="datetimepicker-04" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-04">
                                    <div class="input-group-append" data-target="#datetimepicker-04" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                <textarea class="form-control" rows="4" placeholder="One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help them to accomplish their desires."></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <a class="btn btn-md btn-primary" href="#">Update</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="jobber-timeline-item mb-0">
            <div class="jobber-timeline-cricle">
                <i class="far fa-circle"></i>
            </div>
            <div class="jobber-timeline-info">
                <div class="dashboard-timeline-info">
                    <div class="dashboard-timeline-edit">
                        <ul class="list-unstyled d-flex">
                            <li><a class="text-right" data-toggle="collapse" href="#dateposted-07" role="button" aria-expanded="false" aria-controls="dateposted"> <i class="fas fa-pencil-alt text-info mr-2"></i> </a></li>
                            <li><a href="#"><i class="far fa-trash-alt text-danger"></i></a></li>
                        </ul>
                    </div>
                    <span class="jobber-timeline-time">2020-6-01 to 2020-6-01</span>
                    <h6 class="mb-2">Secondary School Certificate</h6>
                    <span>- Engineering High School</span>
                    <p class="mt-2">Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!</p>
                </div>
                <div class="collapse" id="dateposted-07">
                    <div class="bg-light p-3">
                        <form class="form-row collapse show" id="dateposted-form-02">
                            <div class="form-group col-md-12">
                                <label>Title</label>
                                <input type="text" class="form-control" value="Secondary School Certificate">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Company name</label>
                                <input type="text" class="form-control" value="Engineering High School">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>From</label>
                                <div class="input-group date" id="datetimepicker-05" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-05">
                                    <div class="input-group-append" data-target="#datetimepicker-05" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Two</label>
                                <div class="input-group date" id="datetimepicker-06" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-06">
                                    <div class="input-group-append" data-target="#datetimepicker-06" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                <textarea class="form-control" rows="4" placeholder="Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!"></textarea>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <a class="btn btn-md btn-primary" href="#">Update</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>