<div class="col-lg-3">
    <div class="job_filter white-bg">
        <div class="form_inner white-bg">
            <h3>Lọc chi tiết</h3>
            <form action="#">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single_field">
                            <select class="wide">
                                <option data-display="Mảng công việc">Mảng công việc</option>
                                <option value="1">Category 1</option>
                                <option value="2">Category 2 </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single_field">
                            <select class="wide">
                                <option data-display="Kinh nghiệm">Kinh nghiệm</option>
                                <option value="1">Experience 1</option>
                                <option value="2">Experience 2 </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single_field">
                            <select class="wide">
                                <option data-display="Loại hình">Loại hình</option>
                                <option value="1">full time 1</option>
                                <option value="2">part time 2 </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="range_wrap">
            <label for="amount">Mức lương:</label>
            <div id="slider-range"></div>
            <p>
                <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
            </p>
        </div>
        <div class="reset_btn">
            <button class="boxed-btn3 w-100" type="submit">Làm mới</button>
        </div>
    </div>
</div>