<div class="modal fade" id="formModalCenter" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="cadidateController">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-4">
                <h4 class="mb-0 text-center">Thông tin ứng tuyển</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-register">
                    <div class="tab-content">
                        <div class="tab-pane active" id="candidate" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="user-dashboard-info-box">
                                            <div class="section-title-02 mb-4">
                                                <h4>Thông tin cơ bản</h4>
                                            </div>
                                            <div class="cover-photo-contact">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="upload-file">
                                                            <div class="custom-file">
                                                                <input type="file" onchange="angular.element(this).scope().getFile(this)" class="custom-file-input">
                                                                <label class="custom-file-label">Chọn ảnh đại diện</label>
                                                                <p ng-if="img != ''">Đã xong <a href="" class="btn btn-sm btn-danger" ng-click="remove()">X</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="upload-file">
                                                            <div class="custom-file">
                                                                <input type="file" onchange="angular.element(this).scope().getFile(this)" class="custom-file-input">
                                                                <label class="custom-file-label">Chọn CV ứng tuyển</label>
                                                                <p ng-if="pdf != ''">Đã xong <a href="" ng-click="remove()">X</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Họ và tên</label>
                                                        <input type="text" class="form-control" value="Felica Queen">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Email</label>
                                                        <input type="email" class="form-control" value="felicaqueen@gmail.com">
                                                    </div>
                                                    <div class="form-group col-md-6 datetimepickers">
                                                        <label>Ngày sinh</label>
                                                        <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-01">
                                                            <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Số điện thoại</label>
                                                        <input type="text" class="form-control" value="+(123) 345-6789">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="d-block mb-3">Giới tính</label>
                                                        <div class="custom-control custom-radio d-inline">
                                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadio1">Nam</label>
                                                        </div>
                                                        <div class="custom-control custom-radio d-inline ml-3">
                                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked="checked">
                                                            <label class="custom-control-label" for="customRadio2">Nữ</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Địa chỉ</label>
                                                        <input type="text" class="form-control" value="General Insurance">
                                                    </div>
                                                    <div class="form-group col-md-6 select-border">
                                                        <label>Trình độ đào tạo</label>
                                                        <input type="text" class="form-control" value="General Insurance">
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label>Nơi đào tạo</label>
                                                        <input type="text" class="form-control" value="$33,000">
                                                    </div>
                                                    <div class="form-group mb-0 col-md-12">
                                                        <label>Chuyên ngành</label>
                                                        <input type="text" class="form-control" value="$33,000">
                                                    </div>
                                                    <div class="form-group mb-0 col-md-12">
                                                        <label>Số năm kinh nghiệm</label>
                                                        <input type="text" class="form-control" value="$33,000">
                                                    </div>
                                                    <div class="form-group col-md-6 datetimepickers">
                                                        <label>Ngày ứng tuyển</label>
                                                        <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" value="08/11/1999" data-target="#datetimepicker-01">
                                                            <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="user-dashboard-info-box">
                                            <div class="section-title-02 mb-3">
                                                <h4>Mạng xã hội liên hệ</h4>
                                            </div>
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Skype</label>
                                                        <input type="text" class="form-control" value="https://www.skype.com/">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <a class="btn btn-md btn-primary" ng-click="postCadidate()">Nộp hồ sơ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>