<div class="modal fade" style="z-index:99999" id="formModalCenter" tabindex="-1" role="dialog" aria-hidden="true"  ng-controller="applyController">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-4">
                <h4 class="mb-0 text-center">Thông tin ứng tuyển</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-register">
                    <div class="tab-content">
                        <div class="tab-pane active" id="candidate" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="user-dashboard-info-box">
                                            <div class="section-title-02 mb-4">
                                                <h4>Hồ sơ đính kèm</h4>
                                            </div>                                            
                                            <form>
                                                <div class="form-row">   
                                                    <div class="form-group col-md-12">
                                                        <label>File Hồ sơ</label>
                                                        <input type="file" onchange="angular.element(this).scope().getFile(this)" class="form-control-file">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                               
                                        <a class="btn btn-md btn-primary" style="color:white" ng-click="apply()">Nộp hồ sơ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>