<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sticky-top secondary-menu-sticky-top">
                    <div class="secondary-menu">
                        <ul class="list-unstyled mb-0">
                            <li><a href="/Cadidate/Index">Thông tin cơ bản</a></li>
                            <li><a href="dashboard-candidates-change-password.html">Tin tuyển dụng đã lưu</a></li>
                            <li><a href="dashboard-candidates-my-resume.html">Tin ứng tuyển</a></li>
                            <li><a href="dashboard-candidates-my-resume.html">Đổi mật khẩu</a></li>
                            <li ng-controller="cadidateController"><a href="" ng-click="logOut()">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>