<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="cadidateController">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-4">
                <h4 class="mb-0 text-center">Xin chào các bạn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-register">
                    <fieldset>
                        <legend class="px-2">Chọn hình thức Đăng ký/ Đăng Nhập</legend>
                        <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">
                            <li class="nav-item mr-4">
                                <a class="nav-link active" data-toggle="tab" href="#candidate" role="tab" aria-selected="false">
                                    <div class="d-flex">
                                        <div class="tab-icon">
                                            <i class="flaticon-users"></i>
                                        </div>
                                        <div class="ml-3">
                                            <h6 class="mb-0">Đăng Ký</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#employer" role="tab" aria-selected="false">
                                    <div class="d-flex">
                                        <div class="tab-icon">
                                            <i class="flaticon-suitcase"></i>
                                        </div>
                                        <div class="ml-3">
                                            <h6 class="mb-0">Đăng Nhập</h6>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="tab-content">
                        <div class="tab-pane active" id="candidate" role="tabpanel">
                            <form class="mt-4" ng-submit="register()">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="Email2">Tài khoản người dùng:</label>
                                        <input type="text" ng-model="user.Username" class="form-control" id="Email22" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="password2">Mật khẩu*</label>
                                        <input type="password" ng-model="user.Password" class="form-control" id="password32" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="employer" role="tabpanel">
                            <form class="mt-4" ng-submit="login()">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="Email2">Tài khoản người dùng:</label>
                                        <input type="text" ng-model="user.Username" class="form-control" id="Email2" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="password2">Mật khẩu*</label>
                                        <input type="password" ng-model="user.Password" class="form-control" id="password2" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-block">Đăng Nhập</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>