<section class="header-inner header-inner-big bg-holder text-white" style="background-color:#f5f5f5" ng-controller="searchController">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="job-search-field">
                    <div class="job-search-item">
                        <form class="form row">
                            <div class="col-lg-9">
                                <div class="form-group left-icon">
                                    <input type="text" style="border:1px solid #ff8a00" ng-model="keyword" class="form-control" name="job_title" placeholder="Công việc bạn muốn tìm kiếm?">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group form-action">
                                    <a class="btn btn-primary mt-0" href="/JobDescription/Items?keyword={{keyword}}" style="width:90%"><i class="fas fa-search-location"></i> Tìm kiếm</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>