<div class="user-dashboard-info-box">
    <div class="section-title-02 mb-3">
        <h4>Mạng xã hội liên hệ</h4>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Facebook</label>
                <input type="text" class="form-control" value="https://www.facebook.com/">
            </div>
            <div class="form-group col-md-6">
                <label>Twitter</label>
                <input type="email" class="form-control" value="https://www.skype.com/">
            </div>
            <div class="form-group col-md-6">
                <label>Linkedin</label>
                <input type="text" class="form-control" value="https://www.linkedin.com/">
            </div>
            <div class="form-group col-md-6">
                <label>Linkedin</label>
                <input type="text" class="form-control" value="https://www.zalo.com/">
            </div>
        </div>
    </form>
</div>