<div class="header-inner bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="candidates-user-info">
                    <div class="jobber-user-info">
                        <div class="profile-avatar">
                            <img class="img-fluid " src="~/images/avatar/04.jpg" alt="">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <div class="profile-avatar-info ml-4">
                            <h3>Felica Queen</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-bar-number">85%</span>
                    </div>
                </div>
                <div class="candidates-skills">
                    <div class="candidates-skills-info">
                        <h3 class="text-primary">85%</h3>
                        <span class="d-block">Skills increased by job Title.</span>
                    </div>
                    <div class="candidates-required-skills ml-auto mt-sm-0 mt-3">
                        <a class="btn btn-dark" href="#">Complete Required Skills</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>